@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  font-family: Raleway;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app{
  width: 100%;
}

.splash-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/splash-bg.png);
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.header img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
}

.score {
  color: #000000;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 800;
  user-select: none;
}

.circle {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.game-container {
  width: 200px;
  margin: 0 auto;
}

.circle img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
  transition: transform 0.2s ease;
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}

.plus-one {
  position: absolute;
  font-family: Inter;
  text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  animation: move-up 2s forwards;
}
/* === NEW === */
.menu-block{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0.3rem;
  right: 0.3rem;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #13942f;
  border-radius: 20px 20px 0 0;
}

.menu span{
  display: block;
  font-family: Calibri;
  font-weight: lighter;
  font-size: 0.6em;
  color: #ffffff;
  padding-top: 0.3em;
}

.menu-button {
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
  text-align: center;
  padding: 0.3em 0.5em 0.1em 0.5em;
}
.menu .menu-button.active:first-of-type {
  border-radius: 20px 0 0 0;
}

.menu .menu-button.active:last-of-type {
    border-radius: 0 20px 0 0;
}

.menu-button.active {
  color: #ffffff;
  background-color: #0e7424;
  cursor: pointer;
}
/* === /NEW === */

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.game {
  position: relative;
  point-events: none;
}

.page {
  width: 100vw;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.progress {
  position: relative;
}

.progress-level {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #fff;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 25px;
  margin-bottom: 1rem;
  background: #4b402e;
  overflow: hidden;
}

.progress-value {
  background: #fff;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s width ease;
}

.text-content {
  width: 90%;
  color: #fff;
}

.text-content h1,
.text-content h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: #000000;
}

.tasks-h1 {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5em;
  background-color: #ff0;
}

.list {
  font-family: Roboto;
  font-size: 16px;
  padding-top: 2.5em;
  padding-bottom: 70px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item i{
  font-style: normal;
}

.list-item span {
  background-color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;

}
.list-btn.done .amount {
  background-color: #fff;
  color: #000;
  display: block;
}

.list-btn {
  background: #fff;
  color: #000;
  padding: 0.4rem 0;
  text-decoration: none;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.list-btn:last-of-type{
  border-bottom: none;
}

.list-btn.done {
  pointer-events: none;
}

.list-btn.done span {
  color: #fff;
  background-color: green;
}

.list-btn.done .task-start{
  display: none;
}
.list-btn .task-completed{
  display: none;
}

.list-btn.done .task-completed{
  display: block;
}

.list-btn.done .task-start{
  display: none;
}

.task-start, .task-completed {
  width:56px !important;
  height:30px !important;
  border-radius: 30px !important;
  padding: 5px 10px;
}
.referal {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: gold;
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.enable{
  color: #000;
}


.button-game{
  margin-top:25px;
}